name: CI

on:
  # Triggers the workflow on push events but only for the master branch
  push:
    branches: [ "auto", "try", "try-linux", "try-mac", "try-windows", "try-wpt"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash

jobs:
  build-linux:
    name: Build (Linux)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Bootstrap
        run: |
          python3 -m pip install --upgrade pip virtualenv
          sudo apt update
          python3 ./mach bootstrap
      - name: Cache mach fetch
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup
            ~/.cargo
          key: fetch-${{ runner.os }}
      - name: Cache target
        uses: actions/cache@v3
        with:
          path: target
          key: target-${{ runner.os }}
      - name: Release build
        run: |
          cp servobuild.example .servobuild
          echo 'incremental = true' >> .servobuild
          python3 ./mach build --release
      - name: Lockfile check
        run: ./etc/ci/lockfile_changed.sh
      - name: Forbidden panic check
        run: ./etc/ci/check_no_panic.sh
      - name: Package binary
        run: tar -czf target.tar.gz target/release/servo resources
      - name: Archive binary
        uses: actions/upload-artifact@v3
        with:
          name: release-binary
          path: target.tar.gz
