name: CI

on:
  # Triggers the workflow on push events but only for the master branch
  push:
    branches: [ "auto", "try", "try-linux", "try-mac", "try-windows", "try-wpt"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash

jobs:
  build-mac:
    name: Build (macOS)
    runs-on: macos-12
    steps:
      - name: ts
        run: brew install moreutils
      - name: Select Python 3.9
        run: |
          brew install python@3.9 | ts -s -m
          cd $(dirname $(which python3.9))
          rm -f python3 pip3
          ln -s python3.9 python3
          ln -s pip3.9 pip3
      - name: Bootstrap
        run: |
          python3 -m pip install --upgrade pip virtualenv | ts -s -m
          brew bundle install --verbose --no-upgrade --file=etc/taskcluster/macos/Brewfile | ts -s -m
          brew bundle install --verbose --no-upgrade --file=etc/taskcluster/macos/Brewfile-build | ts -s -m
          rm -rf /usr/local/etc/openssl
          rm -rf /usr/local/etc/openssl@1.1
          brew install openssl@1.1 gnu-tar | ts -s -m
