name: CI

on:
  # Triggers the workflow on push events but only for the master branch
  push:
    branches: [ "auto", "try", "try-linux", "try-mac", "try-windows", "try-wpt"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1
  SHELL: /bin/bash

jobs:
  build-mac:
    name: Build (macOS)
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      # TODO: Remove this step when the compatibility issue between mozjs and
      #       Homebrew's Python 3.10 formula (servo/rust-mozjs#559) is fixed
      - name: Select Python 3.9
        run: |
          echo '======='
          df -h
          echo '======='
          brew install python@3.9
          cd $(dirname $(which python3.9))
          rm -f python3 pip3
          ln -s python3.9 python3
          ln -s pip3.9 pip3
          echo '======='
          df -h
          echo '======='
      - name: Bootstrap
        run: |
          echo '======='
          df -h
          echo '======='
          python3 -m pip install --upgrade pip virtualenv
          brew bundle install --verbose --no-upgrade --file=etc/taskcluster/macos/Brewfile
          brew bundle install --verbose --no-upgrade --file=etc/taskcluster/macos/Brewfile-build
          rm -rf /usr/local/etc/openssl
          rm -rf /usr/local/etc/openssl@1.1
          brew install openssl@1.1 gnu-tar
          echo '======='
          df -h
          echo '======='

  build_result:
    name: homu build finished
    runs-on: ubuntu-latest
    needs:
      - "build-mac"

    steps:
      - name: Mark the job as successful
        run: exit 0
        if: success()
      - name: Mark the job as unsuccessful
        run: exit 1
        if: "!success()"
